.page{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.Microfinances{
    width: 30%;
    height: 15em;
    border: 2px solid red;
    margin-left: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
p{
    font-family: sans-serif;
    margin-top: 1em;
}
.hr{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    height: 0px;
    border: 1px solid black;
}
h3{
    margin: 1%;
}
button{
    margin-top: 30%;
    margin-left: 25%;
}