.page{
    min-height: 100vh;
    min-width: 100vw;
}
.heading{
    width: 100vw;
    margin: 0;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
}
.crop-list{
    width: 25%;
    border: 2px solid black;
    margin: 3%;
    position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 0;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
hr{
    width: 100em;
    margin: 0;
}
p{
    margin: 1%;
}